@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');

#prodimg{
    max-height: 100vh;
    max-width: 50vh;
    padding-top: 10%;
}

#prodheader{
    font-family: 'Gloock';
}

#price{
    font-size:x-large;
    font-family: 'Hind',sans-serif;
    color: red;
}

#prodtext{
    float: left;
    margin-right: 300px;

}
#buy{
    font-weight: 600;
    padding-top: 5px;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5px;
}


